<!-- This @variable is made avaiable from app/controllers/playground_controller.rb -->
<p><code>@variable</code>: <%= @variable %></p>
<!-- This won't work: -->
<p><code>variable</code>: <%# # variable %></p>