<p>The CSS to make this happen can be found in <%= File.join( Rails.root, "app", "assets", "stylesheets", "playground" ) %></p>

<div id="css_test">
	<div class="zero"></div>
	<div class="one"></div>
	<div class="two"></div>
	<div class="three"></div>
</div>