<div id="g_bootstrap">
  <div class="hero-unit">
    <h1><i class="icon-user-md"></i> Carbon Fiber Hackers</h1>
    <p>Because carbon fiber is so much better than iron.</p>
    <p>
      <a id="awesome-button" class="btn btn-primary btn-large">
        Click for awesomeness.
      </a>
    </p>
  </div>

  <div class="page-header">
    <h1>Our Project <small>Shhhh... this is top secret stuff!</small></h1>
  </div>

  <div class="alert alert-info">
    <strong><i class="icon-info-sign"></i> Tips:</strong>
    Head over to <a href="http://twitter.github.com/bootstrap">here</a> to learn more about Bootstrap!
  </div>
</div>