@import "bootstrap_and_overrides";

/*
	Application CSS code goes here.

	Keep in mind that SCSS is just CSS. You can override ANY style here just like how you'd usually do it in CSS. (More specific rules trumps less specific rules, !important, etc.)

	Bootstrap also provides a lot of handy mixins. For example, instead of writing:

	.navbar {
		.navbar-inner {
			-webkit-box-shadow:	...;
		    -moz-box-shadow: ...;
	        box-shadow: ...;
		}
	}

	You could simply write:

	.navbar {
		.navbar-inner {
			@include box-shadow(...);
		}
	}

	For a list of all the mixins it provides, see: https://github.com/thomas-mcdonald/bootstrap-sass/blob/master/vendor/assets/stylesheets/bootstrap/_mixins.scss
*/

body {
	padding-top: 20px;
}
